.PictureDetail{
  display: flex;
  flex-direction: row;
  width: 400px;
  height:400px;
  overflow-x: scroll;
}
.pictureCard{
  width: 400px;
  height:400px;
}

.Discussion{
  background-color: rgba(9, 8, 8, 0.468);
  border-radius: 20px;
  border-color: black;
  padding: 10px;
}

body{
  background-color: rgb(242, 252, 252);

}

.DiscussionFrom{
  background-color: rgba(9, 8, 8, 0.468);
  border-radius: 10px;
  border-color: black;
  margin-top: 20px;
  padding: 20px;
}
.cityPic{
  width: 200px;
  height:200px;
}
.cityCard{
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: 40px;
}
.city{
  padding: 20px;
}

.pictureCard{
  padding-right:40px
}
.getDiscussion{
  background-color: rgba(245, 245, 245, 0.79);
  border-radius: 20px;
  padding:5px;
}

.landingPage{
  background-image: url("https://thumbs.dreamstime.com/z/blue-abstract-dotted-world-map-blue-abstract-dotted-world-map-modern-style-136065062.jpg");
  background-size: cover;
}